<html>
    <head>
        <title>My page</title>
    </head>

    <body>
        <div>
            Dummy comment #1
        </div>

        <div>
            Dummy comment #2
        </div>

        <div>
            Dummy comment #3
        </div>

        <div>
            <form action="." method="POST">
                <textarea name = "contents" placeholder = "Enter a comment"></textarea>
                <input type="submit" value = "Post comment">
            </form>
        </div>
    </body>
</html>